<h1>©Felipe Arredondo Developer 2023. All rights reserved.</h1>
<style>
    h1{
        color: var(--secondary-color);
        font-size: 15px;
    }
    @media only screen and (max-width: 600px) {
        h1{
            font-size: 10px;
        }
    }
</style>